# Build Artifacts
*.d

*.o
*.ko
*.obj

*.ilk
*.map
*.exp

*.gch
*.pch

*.lib
*.a
*.la
*.lo

*.dll
*.so
*.so.*
*.dylib

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.efi
*.elf

*.dSYM/
*.su
*.idb
*.pdb

*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

__pycache__/
*.pyc

*.km
*.um

out/
build/
generated/

# Configure Artifacts
*.tab.c
*.tab.h
*.yy.c
config.h

# Archive Artifacts
*.zip
*.rar
*.cab
*.tar
*.gz
*.xz
*.tgz
*.txz
*.7z
*.br

*.vhd
*.raw
*.vdi
*.vmdk
*.iso
*.img
*.hdi

# Runtime Artifacts
*.lock
*.log
*.dmp

# Development Artifacts
.vscode/
.vs/
*.diff
*.patch
*.swp
.gdbinit
